<div class="chat-area-header">
  <div class="chat-area-group" (click)="closeSidenav()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
      <line x1="18" y1="6" x2="6" y2="18"></line>
      <line x1="6" y1="6" x2="18" y2="18"></line>
    </svg>
  </div>
</div>
<div class="detail-area-body">
  <div class="detail-area-header">
    <div class="msg-profile group">
      <img src="{{userDetails.image}}" alt=""
        class="msg-profile mb-0">
    </div>
    <div class="detail-title">{{userDetails.name}}</div>
    <div class="detail-subtitle">{{userDetails.user_type}}</div>
  </div>
  <div class="detail-changes">
    <div class="detail-change flex-column">
      <div class="d-flex align-items-center" (click)="additionalDetails('about')" [ngClass]="{'detail-photo-title': about}">
        About
        <div class="colors">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-chevron-down" *ngIf="!about">
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-chevron-up" *ngIf="about">
            <polyline points="18 15 12 9 6 15"></polyline>
          </svg>
        </div>
      </div>
      <div class="" *ngIf="about">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea debitis, maiores deserunt veniam pariatur illo, esse
        totam mollitia aperiam, eligendi provident eveniet nemo nam velit voluptate molestiae illum ad dicta?
      </div>
    </div>
    <div class="detail-change flex-column">
      <div class="d-flex align-items-center" (click)="additionalDetails('images')" [ngClass]="{'detail-photo-title': images}">
        Images
        <div class="colors">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-chevron-down" *ngIf="!images">
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-chevron-up" *ngIf="images">
            <polyline points="18 15 12 9 6 15"></polyline>
          </svg>
        </div>
      </div>
      <div class="detail-photo-grid" *ngIf="images"  >
        <ng-container *ngFor="let item of allPhotos ">
        <img
          src="{{item.image}}" />
      </ng-container>
      </div>
      <div class="view-more" *ngIf="images">View More</div>
    </div>
    <div class="detail-change flex-column">
      <div class="d-flex align-items-center" (click)="additionalDetails('files')" [ngClass]="{'detail-photo-title': files}">
        Files
        <div class="colors">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-chevron-down" *ngIf="!files">
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-chevron-up" *ngIf="files">
            <polyline points="18 15 12 9 6 15"></polyline>
          </svg>
        </div>
      </div>
      <div class="detail-photo-grid file_grid" *ngIf="files">
        <ng-container *ngFor="let item of allFiles ">
          <a href="{{item.files}}" class="file" download>
            <img src="./assets/image/file.png" alt="">
            <div class="file_details">
              <h4>{{item.mediaName}}</h4>
              <div class="d-flex">
                <span>232 KB</span>
              </div>
            </div>
          </a> 
        
         </ng-container>
        </div>
      <div class="view-more" *ngIf="files">View More</div>
    </div>
  </div>
</div>
<div></div>

