<div class="chat-area-header" *ngIf="!participantSearchWindow">
  <div class="chat-area-group" (click)="closeSidenav()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
      stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
      <line x1="18" y1="6" x2="6" y2="18"></line>
      <line x1="6" y1="6" x2="18" y2="18"></line>
    </svg>
  </div>
</div>
<div class="search-user-group" *ngIf="participantSearchWindow">
  <div class="chat-area-group me-2" (click)="participantSearchWindow = false">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
      stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
      <line x1="19" y1="12" x2="5" y2="12"></line>
      <polyline points="12 19 5 12 12 5"></polyline>
    </svg>
  </div>
  <input type="text" placeholder="Search.." (keyup)="filterdata($event)">
</div>

<div class="detail-area-body" *ngIf="!participantSearchWindow">
  <div class="detail-area-header skeleton-placeholder">
    <ng-container *ngIf="conversation">
      <ng-container *ngIf="conversation.image">
        <div class="msg-profile group">
          <img src="{{conversation.image}}" alt="" class="msg-profile mb-0">
        </div>
      </ng-container>
      <ng-container *ngIf="conversation.type == 'GROUP' &&  !conversation.image">
        <div class="msg-profile group">
          <img src="./assets/image/group.png" alt="" class="msg-profile mb-0">
        </div>
      </ng-container>
      <ng-container *ngIf="conversation.type != 'GROUP' && !conversation.image">
        <div class="msg-profile group">
          <img src="./assets/image/default.png" alt="" class="msg-profile mb-0">
        </div>
      </ng-container>
      <div class="detail-title">{{conversation.name}}</div>
      <div class="detail-subtitle">{{conversation.user_type}}</div>
    </ng-container>
    <ng-container *ngIf="!conversation">
      <div class="msg-profile group">
        <span class="msg-profile mb-0 load"></span>
      </div>
      <div class="detail-title load" style="width:155px; height: 28px;border-radius: 5px;"></div>
      <div class="detail-subtitle load"></div>
    </ng-container>
  </div>
  <div class="detail-changes">
    <div class="detail-change flex-column">
      <div class="d-flex align-items-center" (click)="additionalDetails('about')"
        [ngClass]="{'detail-photo-title': about}" *ngIf="userDetails.type !== 'GROUP'">
        About
        <div class="colors">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-chevron-down" *ngIf="!about">
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-chevron-up" *ngIf="about">
            <polyline points="18 15 12 9 6 15"></polyline>
          </svg>
        </div>
      </div>
      <div class="" *ngIf="about">
        <div class="profName">
          <h4>{{conversation.name}}</h4>
        </div>
        <div class="">
          <p>
            Type : {{conversation.type
            }}
          </p>
          <!-- <p>Email : {{conversation.emailid ? conversation.emailid : '--' }} </p>
          <p>Country : {{conversation.country ? conversation.country : '--'}}</p>
          <p>Contact : {{conversation.contact ? conversation.contact : '--'}}</p>
          <p>Partnercategory : {{conversation.partnercategory ? conversation.partnercategory : '--'}}</p> -->
        </div>
      </div>
    </div>
    <div class="detail-change flex-column">
      <div class="d-flex align-items-center" (click)="additionalDetails('images')"
        [ngClass]="{'detail-photo-title': images}">
        Images
        <div class="colors">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-chevron-down" *ngIf="!images">
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-chevron-up" *ngIf="images">
            <polyline points="18 15 12 9 6 15"></polyline>
          </svg>
        </div>
      </div>
      <div class="detail-photo-grid skeleton-placeholder" *ngIf="images">
        <ng-container *ngFor="let item of allPhotos">
          <img src="{{item.image}}" />
        </ng-container>

        <ng-container *ngIf="allPhotos.length == 0 && !apiexecute">
          <span class="load" style="height: 100%; width: 100%;border-radius: 8px;"></span>
        </ng-container>
        <div class="noRecord" *ngIf="allPhotos.length == 0 && apiexecute">
          No photos
        </div>
      </div>
      <div class="view-more" *ngIf="images">View More</div>
    </div>
    <div class="detail-change flex-column">
      <div class="d-flex align-items-center" (click)="additionalDetails('files')"
        [ngClass]="{'detail-photo-title': files}">
        Files
        <div class="colors">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-chevron-down" *ngIf="!files">
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-chevron-up" *ngIf="files">
            <polyline points="18 15 12 9 6 15"></polyline>
          </svg>
        </div>
      </div>
      <div class="detail-photo-grid file_grid" *ngIf="files">
        <ng-container *ngFor="let item of allFiles ">
          <a href="{{item.files}}" class="file" download>
            <img src="./assets/image/file.png" alt="">
            <div class="file_details">
              <h4>{{item.mediaName}}</h4>
              <div class="d-flex">
                <span>232 KB</span>
              </div>
            </div>
          </a>

        </ng-container>
      </div>
      <div class="view-more" *ngIf="files">View More</div>
    </div>
  </div>




  <div class="detail-changes" *ngIf="conversation.type == 'GROUP'">
    <div class="detail-change flex-column">
      <div class="d-flex align-items-center" (click)="allParticipantsSearch()" style="cursor: pointer">
        Participants <span class="ms-auto">{{filterData?.length}}</span>
        <div class="colors ms-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-chevron-right">
            <polyline points="9 18 15 12 9 6"></polyline>
          </svg>
        </div>
      </div>
      <div class="participants-fakeSearch" (click)="allParticipantsSearch()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
          stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
        <div class="fake-placeholder">Search..</div>
      </div>
      <div class="participant-lists">
        <span *ngFor="let data of filterData" [matTooltip]="data.name">
          <img
            [src]="data.user_id?.profile?.location ? data.user_id?.profile?.location:'https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%282%29.png'"
            alt="">
        </span>
        <!-- <span>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%282%29.png" alt="">
        </span>
        <span>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%282%29.png" alt="">
        </span>
        <span>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%282%29.png" alt="">
        </span>
        <span>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%282%29.png" alt="">
        </span> -->
        <span (click)="newChat()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-plus m-0">
            <line x1="12" y1="5" x2="12" y2="19"></line>
            <line x1="5" y1="12" x2="19" y2="12"></line>
          </svg>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="buttonArea" *ngIf="!participantSearchWindow">
  <button mat-button class="dangerBtn">Leave Group</button>
</div>
<div class="detail-area-body" *ngIf="participantSearchWindow">
  <div class="msg border-0" *ngFor="let data of filterData;let i=index">
    <img class="msg-profile"
      [src]="data.user_id?.profile?.location ? data.user_id?.profile?.location:'https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%282%29.png'"
      alt="" />
    <div class="msg-detail">
      <div class="msg-username">{{data.user_id?.name}}</div>
    </div>
    <div class="msg-type align-self-center" *ngIf="data.isAdmin == true">
      Admin
    </div>
    <button mat-icon-button (click)="remove(removeUser,data.user_id._id)" *ngIf="data.isAdmin !== true">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-trash">
        <polyline points="3 6 5 6 21 6"></polyline>
        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
      </svg>
    </button>
  </div>
  

</div>
<ng-template #removeUser>
  <div mat-dialog-content>
    <p>Are you sure you want to remove 'user' from 'groupname' group?</p>

  </div>
  <div class="d-flex justify-content-end">
    <button mat-button mat-dialog-close>No</button>
    <button mat-button mat-dialog-close (click)="deleteUserByAdmin()">Yes</button>
  </div>
</ng-template>
<div></div>