<mat-drawer-container class="example-container" autosize>
    <mat-drawer #leftsidenav class="example-sidenav" mode="side" opened position="start">
        <app-userlist class="conversation-area"></app-userlist>
    </mat-drawer>
    <mat-drawer-content class="overflow-hidden">
        <div class="app">
            <div></div>
            <div class="wrapper">
                <div class="chat-area align-items-center justify-content-center" *ngIf="!isUserChatHistoryExist">
                    <img src="./assets/image/chat-history-empty-state.png" alt="">
                    <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Select a conversation or start a new chat</div>
                </div>
                <app-chatlist *ngIf="isUserChatHistoryExist" class="chat-area"></app-chatlist>
            </div>
        </div>
    </mat-drawer-content>
    <mat-drawer #sidenav class="example-sidenav" mode="side" position="end">
        <app-userinfo *ngIf="isUserInfoExist" class="detail-area"></app-userinfo>
    </mat-drawer>
</mat-drawer-container>