<mat-drawer-container class="example-container" autosize>
    <mat-drawer #leftsidenav class="example-sidenav" mode="side" opened position="start">
        <app-userlist class="conversation-area"></app-userlist>
    </mat-drawer>
    <mat-drawer-content class="overflow-hidden">
        <div class="app">
            <div></div>
            <div class="wrapper">
                <app-chatlist *ngIf="isUserChatHistoryExist" class="chat-area"></app-chatlist>
            </div>
        </div>
    </mat-drawer-content>
    <mat-drawer #sidenav class="example-sidenav" mode="side" position="end">
        <app-userinfo class="detail-area"></app-userinfo>
    </mat-drawer>
</mat-drawer-container>