<ng-container  *ngFor="let item of ConversationList">
 <div class="msg" (click)="showConvo();chatDeatils(item._id)">
   <img class="msg-profile" src="{{item.image}}" alt="" />
   <div class="msg-detail">
    <div class="msg-username">{{item.name}}</div>
    <div class="msg-content">
     <span class="msg-message">What time was our meet</span>
     <span class="msg-date">20m</span>
    </div>
   </div>
  </div>
</ng-container>
  <!-- <div class="msg" (click)="showConvo()">
   <img class="msg-profile" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%2812%29.png" alt="" />
   <div class="msg-detail">
    <div class="msg-username">Miguel Cohen</div>
    <div class="msg-content">
     <span class="msg-message">Adaptogen taiyaki austin jean shorts brunch</span>
     <span class="msg-date">20m</span>
    </div>
   </div>
  </div>
  <div class="msg active" (click)="showConvo()">
    <img class="msg-profile" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%2812%29.png" alt="" />
   <div class="msg-detail">
    <div class="msg-username">Tunguru</div>
    <div class="msg-content">
     <span class="msg-message">Aysenur: I love CSS</span>
     <span class="msg-date">28m</span>
    </div>
   </div>
  </div>
  <div class="msg online" (click)="showConvo()">
   <img class="msg-profile" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%282%29.png" alt="" />
   <div class="msg-detail">
    <div class="msg-username">Lea Debere</div>
    <div class="msg-content">
     <span class="msg-message">Shoreditch iPhone jianbing</span>
     <span class="msg-date">45m</span>
    </div>
   </div>
  </div>
  <div class="msg online" (click)="showConvo()">
   <img class="msg-profile" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%281%29+%281%29.png" alt="" />
   <div class="msg-detail">
    <div class="msg-username">Jordan Smith</div>
    <div class="msg-content">
     <span class="msg-message">Snackwave craft beer raclette, beard kombucha </span>
     <span class="msg-date">2h</span>
    </div>
   </div>
  </div> -->
  
  <button class="add"></button>
  <div class="overlay"></div>