<div class="search-user-group">
  <input type="text" placeholder="Search.."  (keyup)="filterdata($event)" >
</div>

<ng-container *ngFor="let item of filterData">
  <div class="msg" (click)="showConvo();chatDeatils(item._id)">
    <img class="msg-profile" src="{{item.image}}" alt="" />
    <div class="msg-detail">
      <div class="msg-username">{{item.name}}</div>
      <div class="msg-content">
        <span class="msg-message">What time was our meet</span>
        <span class="msg-date">20m</span>
      </div>
    </div>
  </div>
</ng-container>


<button class="add" (click)="newChat()"></button>
<div class="overlay"></div>