<mat-tab-group mat-stretch-tabs animationDuration="0ms" (selectedTabChange)="tabClick($event)">
    <mat-tab label="INDIVIDUAL">
        <ng-container *ngTemplateOutlet="tabContent"></ng-container>
    </mat-tab>
    <mat-tab label="GROUP">
        <ng-container *ngTemplateOutlet="tabContent"></ng-container>
    </mat-tab>
</mat-tab-group>

<ng-template #tabContent>
    <div class="innerTab">
        <ul>
            <li (click)="tabs('Doctor')" [ngClass]="{'selected': selectedMenu == 'Doctor'}">
               <span>Doctor</span>
            </li>
            <li (click)="tabs('Referral')" [ngClass]="{'selected': selectedMenu == 'Referral'}">
               <span>Referral</span>
            </li>
            <li (click)="tabs('Partner')" [ngClass]="{'selected': selectedMenu == 'Partner'}">
               <span>Partner</span>
            </li>
            <li (click)="tabs('Facilitator')" [ngClass]="{'selected': selectedMenu == 'Facilitator'}">
               <span>Facilitator</span>
            </li>
        </ul>
    </div>
    <div class="search">
        <input type="text" placeholder="Search">
    </div>
    <div class="user-grp-list">
        <p  *ngFor="let item of usersData ">
            <mat-checkbox>{{item.name}}</mat-checkbox>
        </p>
    </div>
     
</ng-template>

<!-- <div class="d-flex justify-content-end p-3">
    <button mat-button mat-dialog-close>Done</button>
</div> -->
<div class="d-flex justify-content-end p-3" *ngIf="index == 0">
    <button mat-button mat-dialog-close>Chat</button>
</div>
<div class="d-flex justify-content-end p-3"  *ngIf="index == 1">
    <button mat-button mat-dialog-close>Create Group</button>
</div>