<div class="newChatWindow">
    <div class="chat-area-header">
        <div class="msg p-0">
            <div class="chat-area-group d-lg-none me-2" mat-dialog-close>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-arrow-left">
                    <line x1="19" y1="12" x2="5" y2="12"></line>
                    <polyline points="12 19 5 12 12 5"></polyline>
                </svg>
            </div>
        </div>
    </div>
    <div class="new-group-header" *ngIf="newGrpHeader">
        <div class="msg p-0">
            <button mat-icon-button class="me-2" (click)="newGrpHeader = false">
                <mat-icon>arrow_backward</mat-icon>
            </button>
            <div class="chat-area-title">
                New Group
            </div>
        </div>
    </div>
    <mat-tab-group mat-stretch-tabs animationDuration="0ms" (selectedTabChange)="tabClick($event)"
        [style.display]=" !newGrpHeader ? 'flex' : 'none'">
        <mat-tab label="INDIVIDUAL">
            <ng-container *ngTemplateOutlet="tabContent"></ng-container>
        </mat-tab>
        <mat-tab label="GROUP">
            <ng-container *ngTemplateOutlet="tabContent"></ng-container>
        </mat-tab>
    </mat-tab-group>

    <ng-template #tabContent>
        <div class="innerTab">
            <ul>
                <li (click)="tabs('Doctor')" [ngClass]="{'selected': selectedMenu == 'Doctor'}">
                    <span>Doctor</span>
                </li>
                <li (click)="tabs('Referral')" [ngClass]="{'selected': selectedMenu == 'Referral'}">
                    <span>Referral</span>
                </li>
                <li (click)="tabs('Partner')" [ngClass]="{'selected': selectedMenu == 'Partner'}">
                    <span>Partner</span>
                </li>
                <li (click)="tabs('Facilitator')" [ngClass]="{'selected': selectedMenu == 'Facilitator'}">
                    <span>Facilitator</span>
                </li>
            </ul>
        </div>
        <div class="search">
            <input type="text" placeholder="Search" (keyup)="filterdata($event)">
        </div>
        <div *ngIf="index == 1" class="usersSelected">
            <mat-chip-list>
                <mat-chip *ngFor="let item of groupArray;let i=index">
                    <img matChipAvatar class="chat-msg-img"
                        [src]="item.profile?.location?item.profile?.location:'https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%282%29.png'"  alt="" />
                        {{item.name}} <button matChipRemove (click)="removeItem(i)">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
                <!-- <mat-chip color="primary">
                    <img matChipAvatar class="chat-msg-img"
                        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%282%29.png" alt="" />
                    Name <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
                <mat-chip color="accent">
                    <img matChipAvatar class="chat-msg-img"
                        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%282%29.png" alt="" />
                    Name <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip> -->
            </mat-chip-list>
        </div>

        <div class="user-grp-list">
            <ng-container *ngIf="index == 0">
                <mat-radio-group class="d-flex flex-column" [(ngModel)]="individualUser">
                    <ng-container *ngFor="let item of filterData">
                        <mat-radio-button [value]="item">
                            <img class="chat-msg-img me-2"
                                [src]="item.profile?.location? item.profile?.location:'https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%282%29.png'"
                                alt="" />{{item.name}}
                        </mat-radio-button>
                    </ng-container>
                </mat-radio-group>
            </ng-container>
            <ng-container *ngIf="index == 1">
                <p *ngFor="let item of filterData ">
                    <mat-checkbox [checked]="isChecked(item)" [value]="item" (change)="showOptions($event)"> <img class="chat-msg-img me-2"
                        [src]="item.profile?.location? item.profile?.location:'https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%282%29.png'"
                            alt="" />{{item.name}}</mat-checkbox>
                </p>
            </ng-container>
        </div>
    </ng-template>

    <div class="newGroupBox" *ngIf="newGrpHeader">
        <div class="groupProfilePicContainer">
            <div class="grpPhoto">
                <img [src]="image? image:'./assets/image/group.png'" alt="">
                <input #file type="file" accept="image/*"  (change)="onChange($event)" hidden>
                <div class="editGrpIcon" (click)="file.click()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-camera">
                        <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                        <circle cx="12" cy="13" r="4"></circle>
                    </svg>
                    <span>Change Group Icon</span>
                </div>
            </div>
        </div>
        <div class="grpName">
            <input type="text" placeholder="Group Name" [(ngModel)]="groupName">
        </div>
    </div>

    <div class="d-flex justify-content-end" style="padding: 10px 20px 20px;">
        <button mat-button mat-dialog-close class="primaryBtn" *ngIf="index == 0 && individualUser" (click)="addNewConversation()">Chat</button>
        <button mat-icon-button *ngIf="index == 1 && !newGrpHeader && groupArray.length" class="primaryBtn" (click)="newGrpHeader = true">
            <mat-icon>arrow_forward</mat-icon>
        </button>
        <button mat-button mat-dialog-close *ngIf="newGrpHeader" class="primaryBtn" (click)="addNewConversation()" >Create Group</button>
    </div>
</div>