<div class="col-lg-6 center" style="width: 633px;">
  <div class="head-main mt-4 d-flex justify-content-between">
    <div class="short-image  d-flex">
      <img src="/assets/image/short-image.jfif">
      <h6 class="my-auto ms-3">User Name</h6>
    </div>
    <div class="member">
      <span class="add-member me-3"> Members:</span> <i class="bi bi-plus-circle"></i>
      <i class="bi bi-gear-fill setting ms-3"></i>
    </div>
  </div>
  <div class="chat-message">
    <div class="d-flex">
      <img src="/assets/image/short-image.jfif" alt="Avatar" class="img" style="width:50px; height:50px;">
      <div class="chat-container">
        <p class="mb-1">Hello. How are you today?</p>
        <span class="time-right">11:00</span>
      </div>
    </div>

    <div class="d-flex flex-row-reverse">
      <img src="/assets/image/female.jpg" alt="Avatar" class="img1" style="width:50px; height:50px;">
      <div class="chat-container darker">
        <p class="mb-1">I'm Good... What about Yourself..?</p>
        <span class="time-right">11:01</span>
      </div>
    </div>
    <div class="d-flex">
      <img src="/assets/image/short-image.jfif" alt="Avatar" class="img" style="width:50px; height:50px;">
      <div class="chat-container">
        <p class="mb-1">I'm Good too Thank you ...!</p>
        <span class="time-right">11:02</span>
      </div>
    </div>

    <div class="d-flex flex-row-reverse">
      <img src="/assets/image/female.jpg" alt="Avatar" class="img1" style="width:50px; height:50px;">
      <div class="chat-container darker">
        <p class="mb-1">What is Going on in your life..?</p>
        <span class="time-right">11:03</span>
      </div>
    </div>

    <div class="d-flex">
      <img src="/assets/image/short-image.jfif" alt="Avatar" class="img" style="width:50px; height:50px;">
      <div class="chat-container">
        <p class="mb-1">I'm Good too Thank you ...!</p>
        <span class="time-right">11:02</span>
      </div>
    </div>

    <div class="d-flex flex-row-reverse">
      <img src="/assets/image/female.jpg" alt="Avatar" class="img1" style="width:50px; height:50px;">
      <div class="chat-container darker">
        <p class="mb-1">What is Going on in your life..?</p>
        <span class="time-right">11:03</span>
      </div>
    </div>
    <div class="d-flex">
      <img src="/assets/image/short-image.jfif" alt="Avatar" class="img" style="width:50px; height:50px;">
      <div class="chat-container">
        <p class="mb-1">I'm Good too Thank you ...!</p>
        <span class="time-right">11:02</span>
      </div>
    </div>

    <div class="d-flex flex-row-reverse">
      <img src="/assets/image/female.jpg" alt="Avatar" class="img1" style="width:50px; height:50px;">
      <div class="chat-container darker">
        <p class="mb-1">What is Going on in your life..?</p>
        <span class="time-right">11:03</span>
      </div>
    </div>
  </div>
  <div class="typing">

    <div class="input-icons">
      <i class="bi bi-plus icon">
      </i>
      <input class="input-field" type="text" placeholder="Type your message...">
      <i class="bi bi-emoji-smile icon"></i>
      <i class="bi bi-send icon"></i>
    </div>
  </div>

</div>