/* #chat h2,#chat h5{
	font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    margin-bottom: 20px;
}
#chat h5{
	color:#787878;
}
#chat .entete{
	margin-bottom:5px;
} */

.chat-msg-text{
    white-space: pre-line;
}

.search-results {
    height: 20rem;
    overflow: scroll;
  }
